* {
    margin: 0;
    padding: 0;
}

.quicksand-primary-text{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
  }

.raleway-secondary-text{
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}

/* ===== common-style ===== */

.content-width{
    width: 80%;
    margin: 20px auto;
}
.display-flex{
    display: flex;
}

.primary-btn{
    padding: 10px 60px;
    border-radius: 12px;
    color: #FFFFFF;
    border: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    font-family: "Quicksand", serif;
    cursor: pointer;
}

.primary-btn:hover{
    padding: 10px 60px;
    border-radius: 12px;
    background-color: transparent;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    font-family: "Quicksand", serif;
    cursor: pointer;
}

.full-screen-hide{
    display: none;
}

.primary-content{
    font-weight: 500;
    font-size: 0.93rem;
    line-height: 28px;
    color: rgba(128, 128, 128, 1);
}

/* marque */

.headline{
    font-weight: bold;
    font-size: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.headline .admission{
    color: #0199fe;
}


/* ==== navbar ==== */

nav{
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    cursor: pointer;
}

.nav-logo h1{
    padding-left: 11px;
    font-weight: bold;
    font-size: 32px;
    margin: auto;
}

.nav-options{
    gap: 32px;
    font-weight: bold;
    font-size: 20px;
}

.nav-options h3{
    cursor: pointer;
}
.nav-options h3:hover{
    text-shadow: 0px 0px 28.3px #FEA301;
}

.nav-btn{
    background-color: #FEA301;
    border: 1px solid #FEA301;
    transition: 0.3s;
}

.nav-btn:hover{
    border: 1px solid #FEA301;
    color: #FEA301;
}

.primary-card-btn{
    color: #FFFFFF;
    font-family: "Raleway", serif;
    padding: 15px 25px;
    border: none;
    border-radius: 47px;
    font-size: 15px;
}

/* === banner === */

.banner{
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
}

.vision-content{
    width: 55%;
    height: 57%;
}

.vision-content h1{
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 61px;
}

.vision-content p{
    font-size: 1.25rem;
    padding: 24px 0px;
}

.banner-btn{
    background-color: black;
    border: 1px solid black;
    transition: 0.3s;
}

.banner-btn:hover{
    color: black;
    border: 1px solid black;
}

/* ==== Curriculum Section ==== */

.background-img{
    background-image: url("../assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.curriculum{
    text-align: center;
    width: 80%;
    margin: 80px auto; 
}

.curriculum h1{
    font-weight: bold;
    font-size: 2.87rem;
    line-height: 57px;
    padding-bottom: 80px;
}

.curriculum-cards{
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card{
    width: 488px;
    height: 635px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 42px;
    border-radius: 19px;
    box-shadow: 0px 0px 28.3px rgba(0, 0, 0, 0.05);
    transition: 0.3s;
}

.card:hover{
    box-shadow: 0px 0px 28.3px rgba(0, 0, 0, 0.15);
}

.card-1{
    background-image: linear-gradient(rgba(222, 245, 255, 1), rgba(255, 255, 255, 0));
    border: 1px solid #DEFFFF;
}

.card-2{
    background-image: linear-gradient(rgba(255, 244, 220, 1), rgba(255, 255, 255, 0));
    border: 1px solid #FFF4DC;
}

.card-3{
    background-image: linear-gradient(rgba(238, 225, 255, 1), rgba(255, 255, 255, 0));
    border: 1px solid #F2E8FF;
}

.card h3{
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 30px;
}

.read-more{
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
}
.read-more-1{
    color: #64C8FF;
}

.read-more-2{
    color: #F0AA00;
}

.read-more-3{
    color: #8700FF;
}

/* ==== arrow ==== */

.arrows{
    justify-content: center;
    gap: 10px;
    margin: 80px 0px;
}

.arrows button{
    background-color: #FEA301;
    height: 60px;
    width: 60px;
    border-radius: 100px;
    font-size: 24px;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.arrows button:hover{
    background-color: transparent;
    height: 60px;
    width: 60px;
    border-radius: 100px;
    font-size: 50px;
    color: #FEA301;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}


/* ==== Our Stories Card ==== */

.section-bg-img{
    background-image: linear-gradient(0deg, rgba(254, 161, 1, 0.342), rgba(255, 255, 255, 1)), url("../assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.our-stories{
    width: 80%;
    margin: 0px auto;
    text-align: center;
}

.our-stories h1{
    font-weight: bold;
    font-size: 2.8rem;
    margin-bottom: 80px;
}

.class-storie-card{
    width: 560px;
    text-align: left;
    border-radius: 16px;
}

.class-storie-card img{
    width: 100%;
    border-radius: 16px 16px 0px  0px ;
}

.card-content button{
    background-color: #3CD8E8;
}

.card-content{
    background-color: #FFFFFF;
    padding: 0px 38px 80px 38px;
    margin-top: -30px;
    border-radius: 16px;    
}

.card-content h3{
    padding: 45px 0px;
    font-weight: bold;
    font-size: 1.5rem;
}

/* === Story mini card === */

.st-card{
    background-color: #FFFFFF;
    border-radius: 16px;
}

.st-card img{
    width: 100%;
    border-radius: 16px 16px 0px 0px;
}

.mini-card-content {
    text-align: left;
    padding: 0px 40px;
    margin-top: -30px;
}

.mini-card-content button{
    background-color: #95B226;
}

.mini-card-content p{
    font-weight: bold;
    font-size: 0.93rem;
    padding: 25px 0px;
    line-height: 29px;
}

#guiter-btn{
    background-color: #5D58F0;
}

/* === card grid === */

.card-stories{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#spn-card{
    grid-row: span 2;
}

/* === View all button === */

.view-all-btn{
    margin: 80px 0px;
    background-color: black;
    border: 1px solid black;
    transition: 0.3s;
}

.view-all-btn:hover{
    margin: 80px 0px;
    color: black;
    border: 1px solid black;
}

/* ===== footer-content */

footer{
    background-color: #01ACFD;
}

.footer-content{
    width: 80%;
    margin: 0px auto;
    padding: 140px 0px;
    justify-content: space-around;
}

/* ===== Logo ===== */

.kids-logo{
    gap: 10px;
    align-items: center;
    color: #FFFFFF;
}

.kids-logo h1{
    font-weight: bold;
    font-size: 42px;
    line-height: 40px;
}

.kids-education p{
    font-size: 20px;
    padding-top: 35px;
    color: #FFFFFF;
}

/* ===== about-school ===== */

.about-school h3{
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
}

.about-school ul{
    padding: 32px 0px;
    list-style: none;
}

.about-school ul li{
    padding: 10px 0px;
}

.about-school ul li a{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
}

/* ===== Social-media ===== */

.social-media h3{
    font-weight: bold;
    font-size: 26px;
    color: #FFFFFF;
    padding-bottom: 32px;
}

.img-left-padding{
    padding-left: 10px;
}
.social-media img{
    cursor: pointer;
}

/* === media query === */

@media screen and (max-width: 576px){

    /* Button */

    .primary-btn{
        font-size: 16PX;
    }

    /* nav */

    .content-width{
        width: 100%;
        margin: 0;
    }
     nav{
        border: 1px solid #FEA301;
        padding: 12px 0px 12px 16px;
     }
    .hide{
        display: none;
    }
    .full-screen-hide{
        display: initial;
    }
    .icon{
        font-size: 30px;
        padding-right: 16px;
    }

    /* banner */

    .banner{
        flex-direction: column-reverse;
    }
    .vision-content{
        text-align: center;
        padding: 20px 0px;
    }
    .vision-content h1{
        font-size: 32px;
        line-height: normal;
    }
    .vision-content p{
        font-size: 14px;
        font-weight: 500;
        padding: 18px 0px;
    }
    .vision-img{
        width: 94%;
        height: 56%;
    }

    /* Card */

    .curriculum h1{
        font-weight: bold;
        font-size: 2rem;
    }

    /* Stories */

    .our-stories h1{
        font-weight: bold;
        font-size: 2rem;
    }

    /* mini-card */

    .card-stories{
        grid-template-columns: 1fr;
    }

    /* footer */

    .footer-content{
        flex-direction: column;
    }

    .about-school{
        margin: 50px 0px;
    }

    /* marque */

    .headline{
        border: none;
    }
}

/* ===medium device=== */

@media screen and (min-width: 576px) and (max-width: 992px){

    .hide-medium{
        display: none;
    }

    /* cards */

    .card-stories{
        grid-template-columns: repeat(2, 1fr);
    }
    
    #spn-card{
        grid-column: span 2;
        margin: auto;
    }
    .img-left-padding{
        padding-left: 0px;
    }

    .banner{
        flex-direction: column-reverse;
    }

    .nav-btn{
    padding: 10px 30px;
    font-size: 16px;
    }

    .nav-options{
        gap: 20px;
        font-weight: bold;
        font-size: 16px;
        padding: 0px 10px;
    }

}